<div style="display: flex;justify-content: center; margin-top:0; z-index: 2;">
    <div class="pop-status-fomr">
        
        <div class="iconClose" (click)="close()" >
            <i class="fa fa-close" style="font-size:44px; " ></i>
        </div>
        <div style="display: flex;justify-content: center;">
            <h1>Tạo bài viết</h1>
        </div>
        <hr>
        <div >
            <input type="text" [(ngModel)]="status" >
        </div>
        <button class="button-status" style="margin: 100px 0px 0px 170px;" (click)="postStatus()">ĐĂNG</button>
       
</div>