.detail-body{
    width: 70%;
    height: 100%;
    background-color: #fff;
    margin: 30px 0;
    padding: 10px 30px;
    border-radius: 10px;
    color:black;
}
.font-name{
    color:black;
     font-weight:bold;
      font-size:25px
}
.font-mt{
    font-size: 22px;
    font-weight: bold;
    color: #3389C1;
}
@media only screen and (max-width: 575px){
  .detail-body{
      width: 100%;
  }  
  .font-name{
      text-align: center;
  }
  .font-author{
      text-align: center;
  }
  .font-mt{
    font-size: 18px;
   
  }
}