<div class="login-header">
    <img src="../../assets/img/logoTrupo.jpg" alt="logo" width="180x" height="80px" style="margin: 10px 0px 0px 10px;">
</div>

<div style="padding: 100px 25% 100px 25%;">
    <div class="login-input">
        <div>
            <label style="margin-left:50px;" for="account">Tài khoản</label>
            <input id="account" type="text" placeholder="Nhập tài khoản" [(ngModel)]="account">
            
        </div>
            
        <div>
            <label style="margin-left:50px;" for="password">Mật Khẩu</label>
            <input id="password" type="password" placeholder="Nhập mật khẩu" [(ngModel)]="password" (keyup.enter)="login()">
        </div>
        <div><button (click)="login()">Đăng nhập</button></div>
        <div><button><a style="text-decoration: none; color: black;" routerLink="/create" routerLinkActive="active">Đăng ký</a></button></div>
        <div style="display: flex;justify-content: center; padding: 20px  0 0 0 ; "><h1>{{checkLg}}</h1></div>
    </div>
    
   
</div>