<div class="login">
    <div class="card-login">
        <div class="d-flex flex-column align-item-center">
             <span class="font-title">Đăng Nhập Hệ Thống </span>
            <span style="color: red;font-size: 12px;width: 100%;height: 20px;text-align: center;">{{status}}</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" >Tài Khoản</span>
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" >Mật Khẩu</span>
            <input type="text" class="form-control" type="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()">
        </div>
        <button class="btn btn-primary w-100 mb-2" (click)="login()"> Đăng Nhập</button>
        <button class="btn btn-primary w-100 " routerLink="/create"> Đăng ký</button>
        <a  routerLink="" > Quên mật khẩu </a>
    </div>
 
</div>