<div class="create">
    <div class="card-create">
        <p class="font-title">Đăng Nhập Hệ Thống</p>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" >Tài Khoản</span>
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" >Mật Khẩu</span>
            <input type="text" class="form-control" type="password" placeholder="Password"[(ngModel)]="password" (keyup.enter)="create()">
        </div>
        <button class="btn btn-primary w-100 mb-2" (click)="create()"> Đăng Ký</button>
        <a  routerLink="/login" > Quay lại đăng nhập</a>
    </div>
 
</div>