
<div class="news"> 
    <div class="input-content">
        <label for="_input-content"></label>
        <input (click)="popStatus()" id="_input-content" placeholder="Đăng bài viết của bạn" type="text">
    </div>      
    <div class="news-content">
        <div class="news-status" *ngFor="let item of dataStatus">  
            <span class="name">{{ item.account}}</span>      
            <div class="content">{{ item.statusContent}}</div>
        </div>
        
    </div> 
   
</div>     




