<nav class="navbar navbar-light bg-success d-flex">
    <div class="container">
      <a class="d-flex justify-content-center text-decoration-none" routerLink="/home"> <i class="fas text-light fs-4 fa-book me-2"></i><span class="text-light">BookStore</span></a> 
       <i class="fas fa-bell text-light ms-auto me-2 fs-4"></i>
       <i class="fas fa-cart-plus me-2 fs-4 text-white" (click)="goCart()"></i>
       <div class="avatar" style="background-color: white;"></div>
       <div class="ms-2  logout" (click)="logout()">Login/Logout</div>
    </div>
  </nav>
