
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header-title">

    <div class="header-left">
        <div class="w3-xlarge">
            <img src="../../../assets//img/logoTrupo.jpg" alt="Logo" width="25%" height="50px"  style="border-radius: 10px;">
            <input placeholder="Tìm kiếm" id="search-total" type="text">
        </div>
    </div>

    <div class="header-center">
        <div class="flex-icon">
            <a href="http://localhost:4200/home">
            <div class="w3-xxlarge"><i class="fa fa-home"></i></div>
            </a>
            <h5>Trang Chủ</h5>
        </div>
        <div class="flex-icon">
            <div class="w3-xxlarge"><i class="fa fa-comment"></i></div>
            <h5>Tin Nhắn</h5>
        </div>
        <div class="flex-icon">
            <div class="w3-xxlarge"><i class="fa fa-paste"></i></div>
            <h5>Tin tức</h5>
        </div>
        <div class="flex-icon">
            <div class="w3-xxlarge"><i class="fa fa-caret-square-o-right"></i></div>
            <h5>Video</h5>
        </div>
    </div>

    <div class="header-right">
        <div class="flex-icon">
            <div class="w3-xxlarge"><i class="fa fa-vcard"></i></div>
            <h5>Tôi</h5>
        </div>
        <div (click)="toggleMenu()" class="flex-icon" style="margin: 0px 50px 0px 40px;">
            <div class="w3-xxlarge"><i class="fa fa-cog"></i></div>
            <h5>Cài đặt</h5>
        </div>
    </div>
</div>
<div (click)="logOut()" *ngIf="show" class="setting">
    <div style="display:  flex; flex-direction: row;" class="setting-hv">
        <i class="material-icons" style="font-size:36px"  >security</i>
        <h5> bảo mật</h5>
    </div>

    <div style="display:  flex; flex-direction: row;" class="setting-hv">
        <i class="material-icons" style="font-size:36px">settings_applications</i>
        <h5>cài đặt chung</h5>
    </div>
    <div (click)="logOut()" style="display:  flex; flex-direction: row;" class="setting-hv">
        <i class="fa fa-sign-out" style="font-size:48px;color:red"></i>
        <h5>đăng xuất</h5>
    </div>
</div>